<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- SortingAlgorithms Bean -->
    <bean id="sortingAlgorithms" class="org.example.utils.SortingAlgorithms" />
</beans>
