<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <!-- Declaring the DispatcherServlet  -->
    <servlet>
        <servlet-name>mortgage-servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <!-- Mapping the DispatcherServlet to program urls -->
    <servlet-mapping>
        <servlet-name>mortgage-servlet</servlet-name>
        <url-pattern>/mortgage/*</url-pattern>
    </servlet-mapping>
</web-app>